In [22]:
import scipy as sc
import numpy as np
!pip install gpxpy
import gpxpy
import requests
import urllib
import pandas as pd
import math
!pip install geopy

Requirement already satisfied: gpxpy in /Users/wjones/opt/anaconda3/envs/dsa/lib/python3.9/site-packages (1.5.0)
Requirement already satisfied: geopy in /Users/wjones/opt/anaconda3/envs/dsa/lib/python3.9/site-packages (2.3.0)
Requirement already satisfied: geographiclib<3,>=1.52 in /Users/wjones/opt/anaconda3/envs/dsa/lib/python3.9/site-packages (from geopy) (2.0)

In [23]:
# points must have elevation data established to call this method
from geopy import distance
def distanceBetweenPoints(p1, p2):
    flat_distance = distance.distance(p1[:2], p2[:2]).km
    # print(flat_distance)
    euclidian_distance = math.sqrt(flat_distance**2 + (p2[2] - p1[2])**2)
    return euclidian_distance

In [24]:
# coordinates with known elevation 
# these are the coordinates we want to get elevations from
lat = [48.633, 48.733, 45.1947, 45.1962]
lon = [-93.9667, -94.6167, -93.3257, -93.2755]

# create data frame
df = pd.DataFrame({
    'lat': lat,
    'lon': lon
})

In [25]:


# USGS Elevation Point Query Service
url = r'https://nationalmap.gov/epqs/pqs.php?'



def elevation_function(df, lat_column, lon_column):
    """Query service using lat, lon. add the elevation values as a new column."""
    elevations = []
    for lat, lon in zip(df[lat_column], df[lon_column]):

        # define rest query params
        params = {
            'output': 'json',
            'x': lon,
            'y': lat,
            'units': 'Meters'
        }

        # format query string and return query value
        result = requests.get((url + urllib.parse.urlencode(params)))
        elevations.append(result.json()['USGS_Elevation_Point_Query_Service']['Elevation_Query']['Elevation'])        

    df['elev_meters'] = elevations

elevation_function(df, 'lat', 'lon')
df.head()

       lat      lon  elev_meters
0  48.6330 -93.9667       341.14
1  48.7330 -94.6167       328.80
2  45.1947 -93.3257       262.68
3  45.1962 -93.2755       272.64

In [30]:
# list of point objects
pointsArr = df.to_records()
pointsList = []
for p in pointsArr:
    newPoint = (p.lat, p.lon, p.elev_meters)
    pointsList.append(newPoint)

In [32]:

last_element = None
distances = []
for p in pointsList:
    if last_element is not None:
        d = distanceBetweenPoints(last_element, p)
        distances.append(d)
    else:
        distances.append(0)
    last_element = p
df['distance'] = distances
#print(distances)
df.head()

       lat      lon  elev_meters    distance
0  48.6330 -93.9667       341.14    0.000000
1  48.7330 -94.6167       328.80   50.663258
2  45.1947 -93.3257       262.68  410.778145
3  45.1962 -93.2755       272.64   10.713986