In [1]:
import scipy as sc
import numpy as np
!pip install gpxpy
import gpxpy
import requests
import urllib
import pandas as pd
import math
!pip install geopy

Requirement already satisfied: gpxpy in /Users/wjones/opt/anaconda3/envs/dsa/lib/python3.9/site-packages (1.5.0)
Requirement already satisfied: geopy in /Users/wjones/opt/anaconda3/envs/dsa/lib/python3.9/site-packages (2.3.0)
Requirement already satisfied: geographiclib<3,>=1.52 in /Users/wjones/opt/anaconda3/envs/dsa/lib/python3.9/site-packages (from geopy) (2.0)

In [2]:
# points must have elevation data established to call this method
from geopy import distance
def distanceBetweenPoints(p1, p2):
    flat_distance = distance.distance(p1[:2], p2[:2]).m
    # print(flat_distance)
    euclidian_distance = math.sqrt(flat_distance**2 + (p2[2] - p1[2])**2)
    return euclidian_distance

In [3]:
# coordinates with known elevation 
# these are the coordinates we want to get elevations from
latOne = [48.633, 48.733, 45.1947, 45.1962]
lonOne = [-93.9667, -94.6167, -93.3257, -93.2755]

# create data frame
#df = pd.DataFrame({
 #   'lat': latOne,
  #  'lon': lonOne
#})

In [4]:


# USGS Elevation Point Query Service
url = r'https://nationalmap.gov/epqs/pqs.php?'



def elevation_function(df, lat_column, lon_column):
    """Query service using lat, lon. add the elevation values as a new column."""
    elevations = []
    
    for lat, lon in zip(df[lat_column], df[lon_column]):

        # define rest query params
        params = {
            'output': 'json',
            'x': lon,
            'y': lat,
            'units': 'Meters'
        }

        # format query string and return query value
        result = requests.get((url + urllib.parse.urlencode(params)))
        elevations.append(result.json()['USGS_Elevation_Point_Query_Service']['Elevation_Query']['Elevation'])


    df['elev_meters'] = elevations

#elevation_function(df, 'lat', 'lon')
#df.head()

In [11]:
## list of point objects
#pointsArr = df.to_records()
#pointsList = []
#for p in pointsArr:
  #  newPoint = (p.lat, p.lon, p.elev_meters)
  #  pointsList.append(newPoint)

In [ ]:

last_element = None
distances = []
for p in pointsList:
    if last_element is not None:
        d = distanceBetweenPoints(last_element, p)
        distances.append(d)
    else:
        distances.append(0)
    last_element = p
df['distance'] = distances
#print(distances)
df.head()

       lat      lon  elev_meters    distance
0  48.6330 -93.9667       341.14    0.000000
1  48.7330 -94.6167       328.80   50.663258
2  45.1947 -93.3257       262.68  410.778145
3  45.1962 -93.2755       272.64   10.713986

In [6]:
def coordinates_to_df(lat, lon):
    # create data frame
    df = pd.DataFrame({
        'lat': lat,
        'lon': lon
    })
    elevation_function(df, 'lat', 'lon')
    pointsArr = df.to_records()
    pointsList = []
    for p in pointsArr:
        newPoint = (p.lat, p.lon, p.elev_meters)
        pointsList.append(newPoint)
    last_element = None
    distances = []
    for p in pointsList:
        if last_element is not None:
            d = distanceBetweenPoints(last_element, p)
            distances.append(d)
        else:
            distances.append(0)
        last_element = p
    df['distance'] = distances
    #print(distances)
    df.head()
    return df

In [102]:
coordinates_to_df(latOne, lonOne)

       lat      lon  elev_meters       distance
0  48.6330 -93.9667       341.14       0.000000
1  48.7330 -94.6167       328.80   49137.463438
2  45.1947 -93.3257       262.68  405421.797821
3  45.1962 -93.2755       272.64    3948.164659

In [7]:
import json
def read_segments_to_df(filename):
   list_df = []
   with open(filename) as f:
      segment_data_dict = json.load(f)
      
      #print(segment_data_dict.keys())
      for key in segment_data_dict.keys():
         data = segment_data_dict.get(key)
         lat1 = []
         lon1 = []
         for cord in data:
            lat1.append(cord[0])
            lon1.append(cord[1])
         list_df.append(coordinates_to_df(lat1, lon1))
   return list_df
#print(data)

In [15]:
l = read_segments_to_df('experiment_notebooks/james_kom_detailed_segment_data.json')

FileNotFoundError: [Errno 2] No such file or directory: 'experiment_notebooks/james_kom_detailed_segment_data.json'

In [119]:
for i in l:
    print(i)

          lat        lon  elev_meters    distance
0    34.09464 -117.71377       355.14    0.000000
1    34.09467 -117.71362       355.22   14.236931
2    34.09467 -117.71327       355.12   32.298915
3    34.09476 -117.71181       356.33  135.106672
4    34.09474 -117.71131       356.34   46.194346
..        ...        ...          ...         ...
120  34.09553 -117.71492       357.69   18.949578
121  34.09525 -117.71490       356.67   31.130255
122  34.09482 -117.71493       355.17   47.801181
123  34.09467 -117.71511       354.36   23.524827
124  34.09465 -117.71524       354.10   12.202856

[125 rows x 4 columns]
        lat        lon  elev_meters   distance
0  34.10710 -117.70622       400.70   0.000000
1  34.10708 -117.70530       401.93  84.925089
2  34.10711 -117.70450       402.36  73.891172
         lat        lon  elev_meters   distance
0   34.11110 -117.72251       394.26   0.000000
1   34.11104 -117.72241       394.25  11.376398
2   34.11098 -117.72222       394.26  18.751126
3   34.11083 -117.72190       393.91  33.892075
4   34.11071 -117.72154       393.89  35.783190
5   34.11069 -117.72139       393.87  14.016413
6   34.11071 -117.72127       394.20  11.296669
7   34.11075 -117.72120       394.47   7.840426
8   34.11086 -117.72103       394.83  19.875352
9   34.11096 -117.72097       395.14  12.400975
10  34.11108 -117.72094       395.46  13.599435
11  34.11119 -117.72097       395.78  12.515786
12  34.11129 -117.72101       395.97  11.691818
13  34.11137 -117.72108       396.07  10.975840
14  34.11144 -117.72118       396.40  12.063418
15  34.11151 -117.72133       396.49  15.869248
16  34.11172 -117.72207       396.45  72.139589
17  34.11174 -117.72219       396.31  11.292585
18  34.11173 -117.72231       396.11  11.128863
19  34.11170 -117.72243       396.10  11.560931
20  34.11166 -117.72249       395.82   7.100034
21  34.11159 -117.72257       395.59  10.715608
22  34.11151 -117.72262       395.20  10.009030
23  34.11142 -117.72265       394.98  10.362141
24  34.11129 -117.72265       394.60  14.425178
25  34.11116 -117.72262       394.25  14.687589
         lat        lon  elev_meters    distance
0   34.09503 -117.70721       359.14    0.000000
1   34.09498 -117.70781       358.54   55.649403
2   34.09497 -117.70837       357.85   51.694340
3   34.09491 -117.70935       357.05   90.684336
4   34.09491 -117.70972       356.91   34.144594
5   34.09488 -117.71006       356.77   31.552142
6   34.09484 -117.71037       356.60   28.949947
7   34.09481 -117.71094       356.47   52.706060
8   34.09482 -117.71206       356.35  103.361879
9   34.09480 -117.71277       355.41   65.564521
10  34.09481 -117.71302       355.44   23.097177
11  34.09480 -117.71313       355.45   10.211453
12  34.09481 -117.71357       355.45   40.619240
13  34.09485 -117.71394       355.60   34.431745
14  34.09484 -117.71457       355.48   58.148354
15  34.09486 -117.71471       355.52   13.108629
          lat        lon  elev_meters   distance
0    34.10262 -117.71854       373.69   0.000000
1    34.10280 -117.71853       374.40  20.000280
2    34.10334 -117.71855       376.14  59.952772
3    34.10360 -117.71852       376.78  28.979919
4    34.10384 -117.71852       377.40  26.629041
..        ...        ...          ...        ...
122  34.10170 -117.71846       370.80   4.328614
123  34.10187 -117.71847       371.43  18.890190
124  34.10203 -117.71851       371.75  18.130438
125  34.10244 -117.71847       373.30  45.654784
126  34.10259 -117.71848       373.61  16.667086

[127 rows x 4 columns]
         lat        lon  elev_meters    distance
0   34.11843 -117.72002       418.35    0.000000
1   34.11847 -117.71940       418.85   57.372953
2   34.11844 -117.71880       419.54   55.458041
3   34.11844 -117.71818       420.66   57.209912
4   34.11841 -117.71767       421.29   47.172496
5   34.11839 -117.71659       423.46   99.685241
6   34.11843 -117.71456       426.29  187.354421
7   34.11840 -117.71392       426.76   59.139662
8   34.11842 -117.71265       429.02  117.208421
9   34.11840 -117.71183       430.03   75.689510
10  34.11842 -117.71115       431.25   62.785421
11  34.11840 -117.70887       434.82  210.386584
12  34.11846 -117.70843       435.64   41.142966
13  34.11863 -117.70797       436.94   46.457037
14  34.11869 -117.70775       437.40   21.364659
15  34.11872 -117.70744       437.94   28.797400
16  34.11880 -117.70724       438.54   20.483021
         lat        lon  elev_meters    distance
0   34.12125 -117.70731       446.66    0.000000
1   34.12042 -117.70733       443.85   92.128743
2   34.12006 -117.70728       443.01   40.207146
3   34.11988 -117.70727       442.27   20.001415
4   34.11947 -117.70728       440.93   45.508154
5   34.11918 -117.70730       439.78   32.241506
6   34.11882 -117.70730       438.54   39.952081
7   34.11860 -117.70732       437.59   24.491483
8   34.11782 -117.70731       435.25   86.557682
9   34.11725 -117.70732       432.91   63.276983
10  34.11629 -117.70728       430.11  106.588225
11  34.11566 -117.70730       428.60   69.923086
12  34.11544 -117.70729       427.95   24.429467
13  34.11407 -117.70731       423.55  152.041393
14  34.11330 -117.70729       421.28   85.461902
15  34.11302 -117.70726       420.33   31.196397
16  34.11266 -117.70727       419.14   39.961173
17  34.11212 -117.70723       417.62   60.032014
18  34.11186 -117.70723       416.71   28.854700
19  34.11125 -117.70726       413.81   67.782540
20  34.11066 -117.70727       411.87   65.480639
21  34.10971 -117.70724       408.47  105.469322
22  34.10853 -117.70724       404.72  130.944450
23  34.10784 -117.70722       402.21   76.601172
24  34.10709 -117.70726       399.27   83.326955
         lat        lon  elev_meters   distance
0   34.10405 -117.73620       359.75   0.000000
1   34.10403 -117.73598       359.99  20.422116
2   34.10399 -117.73577       360.23  19.880075
3   34.10391 -117.73556       360.05  21.313208
4   34.10380 -117.73510       360.36  44.165292
5   34.10366 -117.73465       360.12  44.332179
6   34.10361 -117.73441       360.15  22.829356
7   34.10359 -117.73417       360.40  22.257644
8   34.10353 -117.73393       360.91  23.129509
9   34.10345 -117.73374       360.90  19.649700
10  34.10333 -117.73352       360.56  24.277269
11  34.10317 -117.73310       360.85  42.626171
12  34.10291 -117.73227       361.00  81.837049
13  34.10276 -117.73186       360.83  41.329622
14  34.10270 -117.73163       361.07  22.243283
15  34.10248 -117.73094       361.38  68.186001
16  34.10221 -117.73025       361.49  70.361372
17  34.10207 -117.72984       361.89  40.897555
18  34.10191 -117.72942       361.88  42.625707
         lat        lon  elev_meters   distance
0   34.09020 -117.72776       333.37   0.000000
1   34.09015 -117.72748       333.40  26.428889
2   34.09015 -117.72732       333.39  14.765936
3   34.09015 -117.72703       333.48  26.763404
4   34.09017 -117.72671       333.69  29.615816
5   34.09017 -117.72655       333.68  14.765932
6   34.09020 -117.72628       333.98  25.140516
7   34.09017 -117.72613       333.91  14.237585
8   34.09021 -117.72538       334.28  69.358330
9   34.09021 -117.72502       334.27  33.223326
10  34.09019 -117.72473       334.52  26.856191
11  34.09020 -117.72419       334.88  49.848639
12  34.09017 -117.72403       335.08  15.137579
13  34.09017 -117.72354       335.74  45.225473
14  34.09006 -117.72283       336.35  66.653037
15  34.09008 -117.72254       336.32  26.855085
16  34.09006 -117.72245       336.31   8.597023
17  34.09008 -117.72240       336.39   5.120582
18  34.09007 -117.72231       336.63   8.383022
19  34.09010 -117.72224       336.67   7.266926
20  34.09012 -117.72199       336.93  23.179653
21  34.09021 -117.72168       337.24  30.302374
22  34.09022 -117.72158       337.23   9.295129
23  34.09021 -117.72134       337.27  22.176676
24  34.09024 -117.72116       337.26  16.941696
25  34.09026 -117.72079       337.54  34.219316
26  34.09025 -117.72064       337.54  13.887415
27  34.09028 -117.72044       337.61  18.755103
28  34.09026 -117.72024       337.51  18.590505
29  34.09026 -117.71961       338.07  58.143480
         lat        lon  elev_meters    distance
0   34.09638 -117.74823       332.16    0.000000
1   34.09638 -117.74734       332.81   82.132054
2   34.09639 -117.74691       333.67   39.705350
3   34.09637 -117.74676       333.43   14.020754
4   34.09635 -117.74625       333.67   47.115843
5   34.09638 -117.74527       334.00   90.496532
6   34.09637 -117.74458       333.97   63.683090
7   34.09638 -117.74385       334.24   67.374308
8   34.09637 -117.74360       334.58   23.099234
9   34.09638 -117.74335       334.88   23.098680
10  34.09635 -117.74163       336.67  158.767144
11  34.09640 -117.74063       337.88   92.454758
12  34.09638 -117.73920       338.75  131.982352
13  34.09640 -117.73802       340.39  108.925704
14  34.09639 -117.73706       341.43   88.602136
        lat        lon  elev_meters   distance
0  38.85101 -104.82834      1836.60   0.000000
1  38.85124 -104.82836      1836.66  25.591936
2  38.85148 -104.82833      1837.42  26.780793
3  38.85160 -104.82829      1837.59  13.767662
4  38.85189 -104.82829      1838.81  32.216778
5  38.85228 -104.82844      1838.40  45.212447
         lat        lon  elev_meters    distance
0   38.85402 -104.82964      1835.73    0.000000
1   38.85411 -104.82974      1835.58   13.236121
2   38.85431 -104.82991      1835.50   26.659300
3   38.85446 -104.82997      1837.71   17.586803
4   38.85498 -104.83037      1838.11   67.365353
5   38.85512 -104.83045      1839.13   17.053142
6   38.85527 -104.83056      1837.89   19.235218
7   38.85538 -104.83067      1838.65   15.519842
8   38.85561 -104.83096      1838.25   35.857412
9   38.85574 -104.83109      1838.29   18.319637
10  38.85627 -104.83139      1838.21   64.341882
11  38.85648 -104.83143      1838.86   23.578772
12  38.85660 -104.83149      1838.79   14.303565
13  38.85695 -104.83153      1841.04   39.074119
14  38.85807 -104.83153      1841.88  124.337133
15  38.85860 -104.83157      1841.57   58.939939
16  38.85914 -104.83156      1841.32   59.953711
17  38.85947 -104.83147      1841.56   37.458618
18  38.85991 -104.83126      1841.65   52.135812
19  38.86089 -104.83051      1842.34  126.783095
20  38.86141 -104.83019      1842.13   64.061208
21  38.86186 -104.82988      1842.17   56.740958
22  38.86225 -104.82953      1842.17   52.889341
23  38.86237 -104.82937      1842.18   19.243536
24  38.86286 -104.82876      1843.76   75.924543
25  38.86307 -104.82858      1844.22   28.067153
26  38.86332 -104.82848      1844.42   29.079397
27  38.86352 -104.82845      1843.21   22.387455
28  38.86422 -104.82841      1843.76   77.788475
29  38.86465 -104.82841      1845.48   47.766522
30  38.86507 -104.82836      1846.20   46.832465
31  38.86537 -104.82829      1846.95   33.861780
32  38.86561 -104.82816      1847.64   28.941851
         lat        lon  elev_meters   distance
0   38.84411 -104.82851      1830.26   0.000000
1   38.84411 -104.82838      1830.12  11.286970
2   38.84415 -104.82826      1829.98  11.325681
3   38.84425 -104.82823      1829.53  11.411555
4   38.84431 -104.82825      1829.91   6.893824
5   38.84489 -104.82877      1830.32  78.637631
6   38.84530 -104.82919      1830.44  58.319297
7   38.84536 -104.82923      1830.44   7.511623
8   38.84555 -104.82932      1830.43  22.493031
9   38.84596 -104.82943      1830.35  46.506221
10  38.84601 -104.82943      1830.35   5.550627
11  38.84605 -104.82939      1830.33   5.637117
         lat        lon  elev_meters    distance
0   38.86077 -104.82868      1847.49    0.000000
1   38.86091 -104.82867      1847.47   15.566026
2   38.86099 -104.82863      1847.39    9.535860
3   38.86146 -104.82828      1848.80   60.391823
4   38.86176 -104.82809      1850.22   37.190282
5   38.86183 -104.82804      1850.89    8.925753
6   38.86193 -104.82793      1851.67   14.662872
7   38.86202 -104.82774      1853.03   19.329359
8   38.86206 -104.82758      1854.16   14.623495
9   38.86209 -104.82729      1854.35   25.390439
10  38.86208 -104.82718      1854.36    9.611704
11  38.86209 -104.82702      1854.42   13.931521
12  38.86214 -104.82681      1854.31   19.053555
13  38.86225 -104.82665      1854.31   18.492413
14  38.86241 -104.82649      1854.14   22.547052
15  38.86251 -104.82642      1854.31   12.656224
16  38.86262 -104.82636      1854.54   13.277458
17  38.86294 -104.82633      1854.50   35.619436
18  38.86317 -104.82634      1854.52   25.547715
19  38.86325 -104.82637      1854.63    9.255512
20  38.86341 -104.82647      1854.47   19.769833
21  38.86353 -104.82653      1854.69   14.304916
22  38.86388 -104.82663      1854.40   39.813139
23  38.86399 -104.82669      1853.86   13.286408
24  38.86441 -104.82678      1853.47   47.276814
25  38.86462 -104.82679      1853.63   23.329407
26  38.86477 -104.82684      1854.02   17.212519
27  38.86507 -104.82699      1854.07   35.758008
28  38.86524 -104.82712      1854.21   21.988187
29  38.86544 -104.82732      1853.21   28.200308
30  38.86565 -104.82750      1852.81   28.065928
31  38.86570 -104.82759      1851.93    9.622749
32  38.86574 -104.82769      1850.27    9.889320
33  38.86575 -104.82789      1849.08   17.434097
34  38.86568 -104.82809      1848.09   19.043807
35  38.86562 -104.82816      1847.64    9.026499
36  38.86546 -104.82825      1847.10   19.411236
37  38.86469 -104.82836      1845.48   86.026677
38  38.86390 -104.82836      1843.74   87.717445
39  38.86365 -104.82838      1844.27   27.812503
40  38.86340 -104.82847      1843.95   28.833323
41  38.86323 -104.82856      1843.64   20.427258
42  38.86305 -104.82870      1843.57   23.386862
43  38.86272 -104.82902      1842.23   45.991863
44  38.86243 -104.82940      1841.79   46.091396
45  38.86229 -104.82956      1841.83   20.842240
46  38.86191 -104.82989      1842.17   50.990695
47  38.86085 -104.83066      1841.41  135.330004
48  38.86052 -104.83086      1841.73   40.540243
49  38.85981 -104.83134      1841.69   89.152717
         lat        lon  elev_meters   distance
0   38.83524 -104.83009      1819.78   0.000000
1   38.83471 -104.83036      1818.29  63.352580
2   38.83425 -104.83063      1817.55  56.194742
3   38.83405 -104.83077      1817.38  25.312953
4   38.83362 -104.83128      1817.40  65.112277
5   38.83328 -104.83174      1817.44  54.953982
6   38.83308 -104.83195      1817.75  28.732052
7   38.83295 -104.83203      1817.47  16.018787
8   38.83280 -104.83233      1817.76  30.917885
9   38.83256 -104.83257      1817.42  33.826546
10  38.83227 -104.83295      1817.11  46.100190
11  38.83205 -104.83319      1818.27  32.126206
12  38.83193 -104.83334      1819.79  18.692596
13  38.83169 -104.83352      1821.26  30.923969
         lat        lon  elev_meters    distance
0   38.82569 -104.79634      1854.13    0.000000
1   38.82568 -104.79641      1854.07    6.179527
2   38.82595 -104.79671      1854.01   39.712504
3   38.82615 -104.79709      1853.94   39.772512
4   38.82656 -104.79766      1853.98   67.242989
5   38.82681 -104.79806      1854.01   44.460636
6   38.82685 -104.79816      1853.95    9.753382
7   38.82698 -104.79860      1853.94   40.842936
8   38.82712 -104.79889      1853.85   29.592585
9   38.82736 -104.79921      1853.98   38.497019
10  38.82752 -104.79946      1854.02   28.049488
11  38.82778 -104.80002      1853.65   56.550213
12  38.82798 -104.80027      1853.20   31.055278
13  38.82807 -104.80046      1852.60   19.297460
14  38.82813 -104.80066      1851.97   18.611267
15  38.82813 -104.80079      1851.80   11.289906
16  38.82808 -104.80101      1851.47   19.896600
17  38.82793 -104.80126      1851.27   27.360579
18  38.82757 -104.80198      1851.29   74.203420
19  38.82737 -104.80229      1851.65   34.895924
20  38.82715 -104.80269      1852.30   42.466295
21  38.82693 -104.80291      1852.94   31.013615
22  38.82690 -104.80292      1852.94    3.441715
23  38.82666 -104.80275      1853.17   30.460213
24  38.82584 -104.80205      1853.38  109.460040
25  38.82511 -104.80156      1853.58   91.531021
26  38.82453 -104.80100      1854.23   80.690817
27  38.82432 -104.80073      1854.22   33.064006
28  38.82412 -104.80051      1854.21   29.290681
29  38.82359 -104.79962      1853.79   97.135891
30  38.82348 -104.79948      1853.73   17.231699
31  38.82340 -104.79936      1853.66   13.692070
32  38.82325 -104.79906      1853.13   30.923985
33  38.82292 -104.79844      1852.10   65.131072
34  38.82256 -104.79796      1851.04   57.756799
35  38.82242 -104.79774      1850.78   24.629772
36  38.82241 -104.79771      1850.78    2.831931
37  38.82239 -104.79762      1850.58    8.127525
38  38.82241 -104.79731      1850.47   27.012811
39  38.82250 -104.79703      1850.29   26.289103
40  38.82260 -104.79679      1850.39   23.614461
41  38.82283 -104.79645      1850.36   39.034963
42  38.82315 -104.79593      1850.80   57.457477
43  38.82348 -104.79544      1851.39   56.152438
44  38.82388 -104.79494      1852.50   62.115714
45  38.82393 -104.79490      1852.73    6.551963
46  38.82399 -104.79487      1852.90    7.154115
47  38.82424 -104.79485      1853.22   27.809165
48  38.82453 -104.79490      1853.82   32.490547
49  38.82462 -104.79495      1853.88   10.893964
50  38.82480 -104.79511      1853.87   24.338057
51  38.82523 -104.79578      1853.89   75.258493
        lat        lon  elev_meters    distance
0  38.82155 -104.85513      1860.71    0.000000
1  38.82152 -104.85494      1859.87   16.853969
2  38.82149 -104.85443      1856.32   44.556933
3  38.82149 -104.85358      1855.03   73.828373
4  38.82140 -104.85179      1853.88  155.775218
          lat        lon  elev_meters   distance
0    38.82211 -104.84099      1829.20   0.000000
1    38.82206 -104.84125      1828.69  23.256995
2    38.82199 -104.84138      1828.71  13.705520
3    38.82193 -104.84157      1828.96  17.795614
4    38.82170 -104.84191      1829.60  39.040477
..        ...        ...          ...        ...
247  38.82167 -104.84211      1829.40  20.542304
248  38.82179 -104.84189      1829.27  23.291620
249  38.82201 -104.84153      1828.99  39.673080
250  38.82214 -104.84124      1828.81  29.026872
251  38.82219 -104.84099      1829.02  22.410001

[252 rows x 4 columns]
         lat        lon  elev_meters    distance
0   38.85893 -104.78290      1890.92    0.000000
1   38.85888 -104.78420      1890.65  112.974404
2   38.85888 -104.78498      1891.31   67.705826
3   38.85886 -104.78541      1891.21   37.389352
4   38.85887 -104.78569      1891.05   24.329373
5   38.85891 -104.78640      1890.35   61.790463
6   38.85896 -104.78687      1888.09   41.232995
7   38.85913 -104.78774      1887.26   77.841206
8   38.85932 -104.78849      1886.23   68.437902
9   38.85946 -104.78889      1886.07   38.039250
10  38.85973 -104.78956      1885.44   65.427201
11  38.85996 -104.79007      1884.51   51.110846
12  38.86038 -104.79112      1884.22  102.371229
13  38.86060 -104.79165      1884.08   52.083389
14  38.86076 -104.79207      1883.68   40.553283
15  38.86081 -104.79226      1880.88   17.624131
16  38.86116 -104.79302      1884.01   76.621211
17  38.86132 -104.79347      1883.68   42.908268
18  38.86143 -104.79366      1882.88   20.535688
          lat        lon  elev_meters   distance
0    38.81086 -104.82672      1816.44   0.000000
1    38.81073 -104.82674      1815.63  14.558268
2    38.81057 -104.82675      1814.96  17.795740
3    38.81042 -104.82665      1813.12  18.870844
4    38.81027 -104.82662      1808.70  17.424349
..        ...        ...          ...        ...
404  38.80923 -104.82692      1815.47  35.472733
405  38.80941 -104.82679      1814.69  22.965064
406  38.80966 -104.82678      1813.24  27.804385
407  38.81016 -104.82668      1807.71  56.452915
408  38.81076 -104.82668      1816.15  67.139720

[409 rows x 4 columns]

In [127]:
j = 0
for i in l:
        print(j)
        filename = "data/Elevation JSON/james_segment_location_data_elevation_%d.json" % j
        j += 1
        with open(filename,"w+") as file:
                lo =  i.to_json()
                file.write(lo)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [115]:
d2 = pd.read_json("data/segment_location_data_elevation.json")

ValueError: Trailing data